<body class="border-y border-gray-50 dark:border-gray-800">
  <div class="mx-auto max-w-8xl px-2 xs:px-6 sm:px-10">
    <div
      class="flex-auto border-x border-gray-50 p-8 dark:border-gray-800 xs:p-20"
    >
      <div
        class="text-center text-xl font-semibold text-gray-50 dark:text-gray-300"
      >
      </div>
    </div>
  </div>
</body>
