<button class="coolButton">Schedule a call</button>

<style>
.coolButton {
	display: block;
	color: #000;
	margin-top: 2.5rem;
	margin-bottom: 1.75rem; 
	font: inherit;
	font-weight: 500;
	background: none;
	cursor: pointer;
	border: 2px solid #000;
	border-radius: 0.25rem;
	background-color: white;
	padding: 1rem 1.5rem;
	font-size: 1.25rem;
	box-shadow: 4px 4px 0 0 #808080;
	transition: 0.15s ease;
}
.coolButton:hover {
	outline: 0;
	transform: translate(4px, 4px);
	box-shadow: 0 0 0 0 #000;
}

</style>