---
const today = new Date();
---

<footer class="border-y border-gray-50 dark:border-gray-800">
  <div class="mx-auto max-w-8xl px-2 xs:px-6 sm:px-10">
    <div class="border-x border-gray-50 p-8 dark:border-gray-800 xs:p-20">
      <div
        class="text-center mx-auto max-w-2xl text-gray-50 dark:text-gray-400"
      >
        Thanks for visiting
      </div>
      <div
        class="text-center mx-auto max-w-2xl text-gray-50 dark:text-gray-700"
      >
        &copy; {today.getFullYear()} Carlos Fabra
      </div>
    </div>
  </div>
</footer>
