<section class="section">
  <article class="wrapper">
    <div class="marquee">
      <div class="marquee__group">
        <svg> <use href="#ansible"></use></svg>
        <svg> <use href="#docker"></use></svg>
        <svg> <use href="#aws"></use></svg>
        <svg> <use href="#azure"></use></svg>
        <svg> <use href="#pulumi"></use></svg>
        <svg> <use href="#git"></use></svg>
        <svg> <use href="#jenkins"></use></svg>
        <svg> <use href="#k8s"></use></svg>
        <svg> <use href="#github"></use></svg>
        <svg> <use href="#terraform"></use></svg>
        <svg> <use href="#grafana"></use></svg>
        <svg> <use href="#sonar"></use></svg>
        <svg> <use href="#google"></use></svg>
        <svg> <use href="#kibana"></use></svg>
        <svg> <use href="#jira"></use></svg>
      </div>
      <div aria-hidden="true" class="marquee__group">
        <svg> <use href="#ansible"></use></svg>
        <svg> <use href="#docker"></use></svg>
        <svg> <use href="#aws"></use></svg>
        <svg> <use href="#azure"></use></svg>
        <svg> <use href="#git"></use></svg>
        <svg> <use href="#jenkins"></use></svg>
        <svg> <use href="#k8s"></use></svg>
        <svg> <use href="#github"></use></svg>
        <svg> <use href="#terraform"></use></svg>
        <svg> <use href="#grafana"></use></svg>
        <svg> <use href="#sonar"></use></svg>
        <svg> <use href="#google"></use></svg>
        <svg> <use href="#kibana"></use></svg>
        <svg> <use href="#jira"></use></svg>
        <svg> <use href="#pulumi"></use></svg>
      </div>
    </div>
  </article>

  <svg class="defs">
    <defs>
      <symbol id="ansible" viewBox="-3 -3 38 38">
        <path
          d="M16,29.951a13.952,13.952,0,1,1,.193-27.9A13.951,13.951,0,0,1,16,29.951Zm-2.221-13.13c.1.1.1.1.193.1C16,18.559,18.027,20.1,19.958,21.745a10.928,10.928,0,0,0,1.255.965.99.99,0,0,0,1.545-.676,1.643,1.643,0,0,0-.1-.676L18.9,12.38c-.579-1.352-1.159-2.8-1.738-4.151a.87.87,0,0,0-.579-.579c-.579-.193-.965.1-1.255.676-2.027,4.731-3.958,9.558-5.986,14.289,0,.1-.1.193-.1.29h1.931c.193,0,.193-.1.29-.193.386-.869.676-1.834,1.062-2.7A31.234,31.234,0,0,1,13.779,16.821Z"
        ></path>
        <path
          d="M13.779,16.821c-.386,1.062-.869,2.124-1.255,3.186-.386.869-.772,1.834-1.062,2.7a.355.355,0,0,1-.29.1H9.242c0-.1.1-.193.1-.29,2.027-4.731,3.958-9.558,5.986-14.289.29-.579.676-.869,1.255-.676a.87.87,0,0,1,.579.579c.579,1.352,1.159,2.8,1.738,4.151l3.765,8.979a2.978,2.978,0,0,1,.1.869.99.99,0,0,1-1.545.676,14.191,14.191,0,0,1-1.255-.965c-2.027-1.641-4.055-3.186-5.986-4.827C13.876,16.821,13.876,16.821,13.779,16.821Zm2.51-6.275c-.579,1.545-1.159,2.993-1.834,4.441-.1.1,0,.193.1.29C16,16.435,17.448,17.5,18.9,18.656c.29.193.579.483.869.676h0C18.607,16.435,17.448,13.539,16.29,10.546Z"
          style={{ fill: "#00000000" }}></path>
        <path
          d="M16.29,10.546c1.159,2.993,2.414,5.889,3.572,8.786h0c-.29-.193-.579-.483-.869-.676-1.448-1.159-2.9-2.221-4.344-3.379-.1-.1-.193-.1-.1-.29C15.035,13.539,15.614,12.091,16.29,10.546Z"
        ></path>
      </symbol>

      <symbol id="docker" viewBox="-1 0 32 32">
        <path
          d="M30.679 13.367c-0.613-0.404-1.366-0.645-2.175-0.645-0.093 0-0.185 0.003-0.276 0.009l0.012-0.001c-0.446 0.001-0.882 0.041-1.306 0.115l0.046-0.007c-0.235-1.357-1.025-2.495-2.122-3.191l-0.019-0.011-0.429-0.248-0.282 0.408c-0.336 0.512-0.599 1.108-0.756 1.745l-0.008 0.039c-0.089 0.324-0.14 0.696-0.14 1.080 0 0.831 0.24 1.605 0.654 2.258l-0.010-0.017c-0.637 0.299-1.381 0.488-2.164 0.524l-0.013 0h-19.729c-0.516 0.001-0.934 0.418-0.936 0.933v0c-0.001 0.056-0.001 0.123-0.001 0.19 0 1.751 0.317 3.428 0.897 4.977l-0.032-0.098c0.558 1.633 1.612 2.975 2.98 3.881l0.028 0.017c1.744 0.903 3.808 1.432 5.995 1.432 0.207 0 0.412-0.005 0.617-0.014l-0.029 0.001c0.018 0 0.039 0 0.060 0 1.272 0 2.515-0.121 3.72-0.352l-0.123 0.020c1.795-0.336 3.395-0.939 4.845-1.773l-0.074 0.039c1.257-0.735 2.331-1.621 3.245-2.652l0.012-0.014c1.325-1.56 2.403-3.381 3.145-5.365l0.041-0.125h0.276c0.055 0.002 0.119 0.004 0.183 0.004 1.226 0 2.34-0.481 3.163-1.265l-0.002 0.002c0.377-0.358 0.676-0.793 0.873-1.281l0.009-0.024 0.122-0.359zM3.79 14.849h2.646c0.127-0.001 0.23-0.104 0.23-0.231 0 0 0 0 0 0v0-2.355c0-0 0-0.001 0-0.001 0-0.127-0.103-0.23-0.23-0.231h-2.646c-0.127 0.001-0.23 0.104-0.23 0.231v0 2.356c0 0 0 0 0 0.001 0 0.127 0.103 0.23 0.23 0.23 0 0 0 0 0.001 0h-0zM7.434 14.849h2.644c0.127 0 0.231-0.103 0.231-0.231 0 0 0 0 0-0v0-2.355c0-0 0-0.001 0-0.001 0-0.127-0.103-0.23-0.23-0.231h-2.646c-0 0-0 0-0 0-0.128 0-0.232 0.104-0.232 0.232 0 0 0 0 0 0v0 2.355c0.001 0.128 0.104 0.231 0.232 0.231v0zM11.132 14.849h2.646c0.127-0.001 0.23-0.104 0.23-0.231 0 0 0 0 0 0v0-2.355c0-0 0-0.001 0-0.001 0-0.127-0.103-0.23-0.23-0.231h-2.646c-0.127 0.001-0.23 0.104-0.23 0.231v0 2.356c0 0.127 0.103 0.231 0.231 0.231v0zM14.788 14.849h2.643c0 0 0 0 0 0 0.128 0 0.231-0.103 0.232-0.231v-2.355c0-0 0-0 0-0 0-0.128-0.104-0.232-0.232-0.232-0 0-0 0-0 0h-2.643c-0.127 0-0.231 0.103-0.231 0.231v0 2.356c0 0 0 0 0 0.001 0 0.127 0.103 0.23 0.23 0.23 0 0 0 0 0.001 0h-0zM7.434 11.461h2.644c0.128-0.001 0.231-0.104 0.231-0.232 0 0 0 0 0 0v0-2.355c0 0 0 0 0-0 0-0.127-0.103-0.231-0.231-0.231h-2.644c-0.128 0-0.231 0.103-0.232 0.231v2.355c0.001 0.128 0.104 0.231 0.232 0.232h0zM11.132 11.461h2.646c0.127-0.001 0.23-0.105 0.23-0.232v0-2.355c0 0 0 0 0-0 0-0.127-0.103-0.231-0.231-0.231h-2.643c-0.127 0-0.231 0.103-0.231 0.231 0 0 0 0 0 0v0 2.355c0.001 0.128 0.103 0.231 0.231 0.232h0zM14.788 11.461h2.643c0.128-0.001 0.231-0.104 0.232-0.232v-2.355c-0.001-0.128-0.104-0.231-0.232-0.231h-2.643c-0.127 0-0.231 0.103-0.231 0.231 0 0 0 0 0 0v0 2.355c0 0.128 0.103 0.231 0.231 0.232h0zM14.788 8.073h2.643c0 0 0 0 0 0 0.128 0 0.232-0.104 0.232-0.232 0-0 0-0 0-0v0-2.356c-0.001-0.128-0.104-0.231-0.232-0.231 0 0-0 0-0 0h-2.643c-0.127 0-0.231 0.103-0.231 0.231v0 2.356c0 0 0 0 0 0.001 0 0.127 0.103 0.23 0.23 0.23 0 0 0 0 0.001 0h-0zM18.475 14.849h2.644c0 0 0 0 0 0 0.128 0 0.231-0.103 0.232-0.231v-2.355c0-0 0-0 0-0 0-0.128-0.104-0.232-0.232-0.232-0 0-0 0-0 0h-2.644c0 0 0 0-0 0-0.128 0-0.231 0.103-0.231 0.231v2.356c0 0.127 0.103 0.231 0.231 0.231v0z"
        ></path>
      </symbol>

      <symbol id="aws" viewBox="0 0 24 24">
        <path
          d="M6.763 10.036c0 .296.032.535.088.71.064.176.144.368.256.576.04.063.056.127.056.183 0 .08-.048.16-.152.24l-.503.335a.383.383 0 0 1-.208.072c-.08 0-.16-.04-.239-.112a2.47 2.47 0 0 1-.287-.375 6.18 6.18 0 0 1-.248-.471c-.622.734-1.405 1.101-2.347 1.101-.67 0-1.205-.191-1.596-.574-.391-.384-.59-.894-.59-1.533 0-.678.239-1.23.726-1.644.487-.415 1.133-.623 1.955-.623.272 0 .551.024.846.064.296.04.6.104.918.176v-.583c0-.607-.127-1.03-.375-1.277-.255-.248-.686-.367-1.3-.367-.28 0-.568.031-.863.103-.295.072-.583.16-.862.272a2.287 2.287 0 0 1-.28.104.488.488 0 0 1-.127.023c-.112 0-.168-.08-.168-.247v-.391c0-.128.016-.224.056-.28a.597.597 0 0 1 .224-.167c.279-.144.614-.264 1.005-.36a4.84 4.84 0 0 1 1.246-.151c.95 0 1.644.216 2.091.647.439.43.662 1.085.662 1.963v2.586zm-3.24 1.214c.263 0 .534-.048.822-.144.287-.096.543-.271.758-.51.128-.152.224-.32.272-.512.047-.191.08-.423.08-.694v-.335a6.66 6.66 0 0 0-.735-.136 6.02 6.02 0 0 0-.75-.048c-.535 0-.926.104-1.19.32-.263.215-.39.518-.39.917 0 .375.095.655.295.846.191.2.47.296.838.296zm6.41.862c-.144 0-.24-.024-.304-.08-.064-.048-.12-.16-.168-.311L7.586 5.55a1.398 1.398 0 0 1-.072-.32c0-.128.064-.2.191-.2h.783c.151 0 .255.025.31.08.065.048.113.16.16.312l1.342 5.284 1.245-5.284c.04-.16.088-.264.151-.312a.549.549 0 0 1 .32-.08h.638c.152 0 .256.025.32.08.063.048.12.16.151.312l1.261 5.348 1.381-5.348c.048-.16.104-.264.16-.312a.52.52 0 0 1 .311-.08h.743c.127 0 .2.065.2.2 0 .04-.009.08-.017.128a1.137 1.137 0 0 1-.056.2l-1.923 6.17c-.048.16-.104.263-.168.311a.51.51 0 0 1-.303.08h-.687c-.151 0-.255-.024-.32-.08-.063-.056-.119-.16-.15-.32l-1.238-5.148-1.23 5.14c-.04.16-.087.264-.15.32-.065.056-.177.08-.32.08zm10.256.215c-.415 0-.83-.048-1.229-.143-.399-.096-.71-.2-.918-.32-.128-.071-.215-.151-.247-.223a.563.563 0 0 1-.048-.224v-.407c0-.167.064-.247.183-.247.048 0 .096.008.144.024.048.016.12.048.2.08.271.12.566.215.878.279.319.064.63.096.95.096.502 0 .894-.088 1.165-.264a.86.86 0 0 0 .415-.758.777.777 0 0 0-.215-.559c-.144-.151-.416-.287-.807-.415l-1.157-.36c-.583-.183-1.014-.454-1.277-.813a1.902 1.902 0 0 1-.4-1.158c0-.335.073-.63.216-.886.144-.255.335-.479.575-.654.24-.184.51-.32.83-.415.32-.096.655-.136 1.006-.136.175 0 .359.008.535.032.183.024.35.056.518.088.16.04.312.08.455.127.144.048.256.096.336.144a.69.69 0 0 1 .24.2.43.43 0 0 1 .071.263v.375c0 .168-.064.256-.184.256a.83.83 0 0 1-.303-.096 3.652 3.652 0 0 0-1.532-.311c-.455 0-.815.071-1.062.223-.248.152-.375.383-.375.71 0 .224.08.416.24.567.159.152.454.304.877.44l1.134.358c.574.184.99.44 1.237.767.247.327.367.702.367 1.117 0 .343-.072.655-.207.926-.144.272-.336.511-.583.703-.248.2-.543.343-.886.447-.36.111-.734.167-1.142.167zM21.698 16.207c-2.626 1.94-6.442 2.969-9.722 2.969-4.598 0-8.74-1.7-11.87-4.526-.247-.223-.024-.527.272-.351 3.384 1.963 7.559 3.153 11.877 3.153 2.914 0 6.114-.607 9.06-1.852.439-.2.814.287.383.607zM22.792 14.961c-.336-.43-2.22-.207-3.074-.103-.255.032-.295-.192-.063-.36 1.5-1.053 3.967-.75 4.254-.399.287.36-.08 2.826-1.485 4.007-.215.184-.423.088-.327-.151.32-.79 1.03-2.57.695-2.994z"
        ></path>
      </symbol>

      <symbol id="azure" viewBox="0 0 17 17">
        <path
          d="M7.47 12.412l3.348-.592.031-.007-1.722-2.049a291.474 291.474 0 01-1.723-2.058c0-.01 1.779-4.909 1.789-4.926a788.95 788.95 0 012.934 5.066l2.95 5.115.023.039-10.948-.001 3.317-.587zM.9 11.788c0-.003.811-1.412 1.803-3.131L4.507 5.53l2.102-1.764C7.765 2.797 8.714 2 8.717 2a.37.37 0 01-.033.085L6.4 6.981 4.16 11.789l-1.63.002c-.897.001-1.63 0-1.63-.003z"
        ></path>
      </symbol>

      <symbol id="git" viewBox="-3 -3 39 39">
        <path
          d="M30.428 14.663l-13.095-13.094c-0.35-0.349-0.833-0.565-1.367-0.565s-1.017 0.216-1.367 0.565l0-0-2.713 2.718 3.449 3.449c0.22-0.077 0.473-0.121 0.737-0.121 1.269 0 2.297 1.028 2.297 2.297 0 0.269-0.046 0.526-0.131 0.766l0.005-0.016 3.322 3.324c0.222-0.079 0.479-0.125 0.746-0.125 1.268 0 2.296 1.028 2.296 2.296s-1.028 2.296-2.296 2.296c-1.268 0-2.296-1.028-2.296-2.296 0-0.313 0.063-0.611 0.176-0.883l-0.006 0.015-3.11-3.094v8.154c0.764 0.385 1.279 1.163 1.279 2.061 0 1.27-1.030 2.3-2.3 2.3s-2.3-1.030-2.3-2.3c0-0.634 0.256-1.207 0.671-1.623l-0 0c0.211-0.211 0.462-0.382 0.741-0.502l0.015-0.006v-8.234c-0.842-0.354-1.422-1.173-1.422-2.126 0-0.32 0.065-0.624 0.183-0.901l-0.006 0.015-3.389-3.405-8.98 8.974c-0.348 0.351-0.562 0.834-0.562 1.368s0.215 1.017 0.563 1.368l13.096 13.092c0.349 0.35 0.832 0.566 1.366 0.566s1.016-0.216 1.366-0.566l13.034-13.034c0.35-0.349 0.567-0.833 0.567-1.366s-0.217-1.017-0.567-1.366l-0-0z"
        ></path>
      </symbol>

      <symbol id="jenkins" viewBox="-3 -3 32 32">
        <path
          d="m21.698 19.922c-.008.541-.11 1.055-.292 1.531l.01-.031-.796 2.578h-19.781l-.328-.94c-.198-.428-.367-.929-.483-1.45l-.009-.05c-.012-.053-.019-.115-.019-.178 0-.222.088-.424.231-.573.189-.166.405-.307.64-.415l.016-.007c.208-.098.378-.191.542-.292l-.024.014q.701-.469 1.873-1.172l1.031-.609c.381-.166.707-.387.985-.657l-.001.001q.187-.281-.281-.984l-.187-.328c-.201-.41-.335-.888-.374-1.393l-.001-.013c-.771-.112-1.422-.547-1.822-1.162l-.006-.01c-.338-.523-.584-1.138-.7-1.799l-.004-.03c-.056-.231-.088-.496-.088-.768 0-.485.101-.945.284-1.363l-.009.022.094-.14c.072-.107.129-.232.162-.367l.002-.008c0-.014.001-.031.001-.048 0-.183-.027-.361-.076-.528l.003.013c-.025-.124-.041-.269-.047-.417v-.005q-.094-2.953 1.403-3.656c.201-.715.594-1.321 1.12-1.778l.004-.004c.532-.434 1.132-.824 1.771-1.146l.056-.026.703-.375c.466-.276 1.008-.529 1.574-.73l.066-.02.234-.094c.95-.328 2.044-.517 3.183-.517.348 0 .693.018 1.032.052l-.043-.004c1.442.055 2.765.52 3.868 1.282l-.024-.016c.529.429 1.004.874 1.445 1.35l.008.009c.46.456.85.98 1.155 1.556l.017.035c.596 1.328.942 2.879.942 4.511 0 .078-.001.157-.002.235v-.012c.002.11.004.24.004.37 0 1.704-.241 3.352-.691 4.912l.031-.125c-.16.593-.336 1.092-.544 1.574l.028-.074-.234.375q-.469.75-.399.984c.308.437.672.809 1.088 1.115l.013.009.703.609q.893.753.94 1.175zm-13.171-18.327c-.927.267-1.737.652-2.468 1.144l.031-.02c-.748.429-1.343 1.053-1.725 1.803l-.011.025c.25-.057.462-.121.667-.199l-.034.011c.201-.08.433-.131.676-.14h.004.234c.063.015.136.024.211.024s.147-.009.217-.025l-.006.001q.234-.047.703-.843c.117-.224.242-.415.381-.595l-.007.009c.139-.148.292-.279.459-.392l.01-.006c.175-.12.328-.243.471-.377l-.002.002.14-.047q.281-.094.281-.281-.139-.141-.232-.094zm-4.922 4.355c-.299.403-.488.904-.515 1.447v.006c-.008.156-.013.338-.013.522 0 .394.022.783.064 1.166l-.004-.047v.094c.29-.188.644-.3 1.024-.3.093 0 .185.007.275.02l-.01-.001c.453.057.849.262 1.148.563.289.279.469.671.469 1.104v.022-.001q.281 0 .328-.328c-.027-.227-.076-.433-.147-.629l.006.02-.094-.281c-.041-.214-.064-.46-.064-.711 0-.129.006-.257.018-.384l-.001.016c.014-.417.056-.813.125-1.2l-.007.051q.117-.773.164-1.196c0-.016 0-.036 0-.055 0-.4-.069-.784-.195-1.141l.007.024c-1.023.061-1.929.517-2.576 1.217l-.002.003zm1.734 9.379c.16.623.336 1.146.545 1.651l-.03-.081c.196.51.432.951.716 1.356l-.013-.02c.332.435.8.751 1.339.887l.017.004c.542.112 1.188.196 1.845.233l.035.002c.144-.247.403-.412.702-.422h.001c.072-.007.155-.011.24-.011.265 0 .522.038.764.109l-.019-.005c-.748-.384-1.373-.905-1.866-1.535l-.009-.012c-.296-.311-.573-.648-.825-1.004l-.019-.028c-.226-.346-.378-.761-.421-1.208l-.001-.011.14.14c.544.787 1.098 1.475 1.698 2.121l-.011-.012c.66.634 1.457 1.13 2.341 1.44l.045.014c.35.111.753.176 1.171.176.471 0 .922-.082 1.342-.231l-.028.009c.824-.25 1.541-.618 2.175-1.092l-.018.013c.393-.281.71-.642.932-1.062l.008-.017.234-.328c.66-.963 1.162-2.093 1.438-3.309l.012-.065c.248-.995.39-2.138.39-3.314 0-.236-.006-.47-.017-.703l.001.033v-.469q-.047-.94-.094-1.359c-.043-.417-.159-.798-.336-1.143l.008.018c-.239-.451-.634-.793-1.111-.957l-.014-.004c-.148-.076-.324-.12-.51-.12-.313 0-.597.127-.803.332-.023-.068-.037-.146-.037-.227 0-.277.156-.517.384-.639l.004-.002c.209-.122.461-.193.729-.193.167 0 .328.028.477.079l-.01-.003-.281-.328q-.563-.75-.89-1.125c-.315-.357-.687-.654-1.104-.88l-.021-.01c-.848-.516-1.846-.881-2.913-1.027l-.04-.005c-.337-.082-.724-.129-1.122-.129-.713 0-1.391.151-2.003.423l.032-.012q-3.141 1.547-3.891 3.281c.153.325.242.707.242 1.109 0 .072-.003.143-.008.213l.001-.009q-.047.422-.234 1.359t-.234 1.408c.018.416.085.809.196 1.183l-.009-.035c.099.325.166.701.187 1.089l.001.012q-.234.422-1.219.375c-.067-.404-.198-.767-.383-1.095l.009.016c-.147-.31-.442-.528-.792-.562h-.004c-.068-.011-.146-.017-.226-.017-.415 0-.791.168-1.063.439-.341.319-.561.765-.586 1.261v.004c-.001.023-.001.05-.001.077 0 .642.212 1.235.569 1.712l-.005-.007c.258.557.812.937 1.455.937.014 0 .029 0 .043-.001h-.002c.216-.059.404-.156.566-.284l-.003.002c.153-.128.346-.213.558-.234h.004c.058.073.092.166.092.268 0 .047-.007.092-.021.134l.001-.003c-.077.148-.18.273-.302.373l-.002.002c-.123.092-.214.221-.256.37l-.001.005c.003.244.045.478.121.696l-.005-.015zm10.406 5.858c-.022.067-.034.143-.034.223 0 .045.004.09.012.133l-.001-.005c.006.042.01.091.01.141 0 .091-.012.18-.035.265l.002-.007c.711.19 1.53.309 2.375.328h.012c.131-.236.207-.517.207-.817 0-.092-.007-.183-.021-.271l.001.01c0-.014 0-.03 0-.046 0-.331-.032-.655-.094-.969l.005.032c-.031-.298-.168-.56-.374-.749l-.001-.001c-.102-.037-.219-.058-.342-.058-.165 0-.321.039-.46.108l.006-.003c-.339.167-.631.354-.9.57l.009-.007q-.471.281-.616.375l.047.094c.051.11.085.237.094.371v.003c.101-.034.218-.053.339-.053.203 0 .393.055.557.15l-.005-.003h-.187c-.002 0-.003 0-.005 0-.225 0-.434.07-.606.19l.003-.002zm-.795-.94.422-.375c.174-.166.375-.307.595-.415l.014-.006c-.334.019-.647.069-.948.148l.033-.007q-.633.14-.961.187c-.062.008-.134.013-.207.013-.248 0-.484-.056-.694-.155l.01.004-.094.094c.23.19.504.336.805.418l.015.004c.276.06.592.094.917.094.032 0 .064 0 .096-.001h-.005zm-.563 1.547h-.047c.082.04.179.064.281.064.151 0 .29-.051.4-.137l-.001.001c.118-.119.192-.283.192-.464 0-.026-.002-.052-.005-.077v.003c-.005-.206-.126-.383-.301-.467l-.003-.001c-.065-.026-.141-.041-.221-.041-.17 0-.324.069-.435.181-.009.055-.014.119-.014.183 0 .136.022.266.063.388l-.003-.009c.027.15.059.278.099.403l-.006-.023zm-4.918-1.219c.009-.154.035-.298.076-.435l-.003.014c.033-.108.059-.236.072-.367l.001-.008c-.183-.031-.394-.048-.61-.048-.033 0-.066 0-.098.001h.005c-.461-.018-.893-.12-1.289-.29l.023.009q-.281.281.516.68c.376.213.814.37 1.28.445l.022.003zm-7.879 2.722h8.437l-.094-.328c-.171-.474-.302-1.029-.371-1.604l-.004-.037-.328-.14c-.905-.417-1.674-.855-2.401-1.349l.057.037-.375-.422q-.75-.891-.843-.846c-1.826.822-3.399 1.81-4.816 2.981l.035-.028c.218.448.456 1.021.664 1.609l.039.127zm11.624 0h.422l-.14-.187-.187.14zm.703-1.172v-.469c-.311-.176-.682-.281-1.078-.281.142-.079.308-.137.484-.163l.008-.001c.202-.035.383-.092.553-.17l-.014.006v-.187c-.303-.05-.571-.166-.801-.332l.005.004-.234-.14c-.595-.35-1.288-.611-2.025-.744l-.038-.006q-.562-.093-.703.609c-.044.252-.069.543-.069.839 0 .167.008.332.023.494l-.002-.021v.047c.074.525.205.999.389 1.446l-.014-.039.187.469q.047.281.211.328c.017.001.037.001.057.001.241 0 .47-.052.677-.145l-.01.004c.338-.107.626-.226.9-.367l-.032.015c.345-.212.643-.436.92-.685l-.006.005c.181-.191.382-.361.6-.508l.013-.008zm2.485 1.172.047-.563c-.291-.027-.55-.147-.751-.329l.001.001c-.12-.092-.26-.164-.413-.209l-.009-.002c-.002 0-.005 0-.007 0-.153 0-.295.044-.415.12l.003-.002c-.116.076-.258.121-.41.121-.071 0-.139-.01-.204-.028l.005.001-.281.328q.187.234.422.563h.796c.005-.075.04-.141.094-.187.053-.057.128-.093.211-.094h.005c.075 0 .141.037.181.093v.001c.042.051.069.116.072.187v.001zm.422 0h1.687c-.153-.275-.399-.483-.694-.583l-.009-.003c-.116-.042-.249-.067-.389-.067-.202 0-.392.052-.558.142l.006-.003c-.027.154-.043.332-.044.513v.001zm3.89-1.736.047-.234c.09-.26.141-.559.141-.871 0-.024 0-.049-.001-.073v.004q-.047-.324-.75-.886l-.231-.187-.656-.656q-.566-.516-.895-.845c-.141.204-.312.375-.509.511l-.007.004c-.177.122-.33.262-.462.421l-.003.004c.105-.066.232-.105.368-.105.086 0 .168.015.243.044l-.005-.002c.201.075.356.234.423.433l.001.005c.238.455.378.993.378 1.564 0 .051-.001.103-.003.153v-.007c.004.061.006.132.006.204 0 .495-.106.964-.296 1.388l.009-.021c.051.159.14.293.257.398l.001.001c.108.096.195.213.255.345l.003.006-.094.14h1.313c.17-.471.332-1.053.454-1.649l.015-.086zm-11.437-15.466c.204-.432.507-.788.882-1.049l.009-.006c.317-.277.735-.446 1.192-.446h.028-.001c.215.059.398.174.538.327l.001.001c.069.069.112.165.112.271 0 .094-.034.179-.089.246v-.001q-1.64-.375-2.531 1.547-.417-.095-.14-.891zm8.624 3c.2-.074.431-.117.672-.117h.033-.002c.017.001.036.001.056.001.237 0 .46-.061.654-.169l-.007.004-.14-.328c-.179-.381-.283-.828-.283-1.3 0-.037.001-.075.002-.112v.005h.047l.234.469c.247.569.499 1.046.782 1.502l-.028-.049c-.113.267-.332.47-.602.561l-.007.002c-.201.104-.439.164-.691.164-.096 0-.189-.009-.28-.026l.009.001c-.258-.046-.451-.268-.451-.535 0-.026.002-.052.005-.077v.003zm-4.499.094q-.94-1.453-.703-2.109.094.187.281.609c.12.367.313.682.563.941l-.001-.001.094.094c.102.099.195.206.277.321l.005.007c.03.084.047.181.047.281s-.017.198-.049.287l.002-.006c-.062.094-.14.172-.231.232l-.003.002c-.094.076-.203.139-.32.185l-.008.003c-.189.056-.406.088-.63.088-.252 0-.495-.041-.722-.116l.016.005q-.723-.211-.352-.773c.172.014.331.047.483.098l-.014-.004c.207.049.448.083.695.094h.008c.201-.021.379-.106.516-.235zm1.265 3.281c.044.109.077.235.093.367l.001.008c.019.158.069.3.143.427l-.003-.005c.078.101.194.171.326.187h.002c.088.014.189.022.293.022.283 0 .551-.06.794-.168l-.012.005c.42-.122.78-.265 1.123-.436l-.038.017.563-.281c.102-.139.164-.315.164-.504 0-.071-.009-.139-.025-.205l.001.006c-.086-.205-.213-.378-.373-.514l-.002-.002-.328-.38c-.398-.445-.77-.934-1.101-1.451l-.027-.046c-.311-.524-.501-1.152-.516-1.824v-.004q.281-.187.375.328v.14c.618 1.13 1.351 2.102 2.203 2.953l.516.516c.002.027.003.06.003.092 0 .223-.053.433-.147.619l.004-.008c-.049.124-.082.267-.094.417v.005c-.471.32-1.01.618-1.576.865l-.065.025c-.479.199-1.034.315-1.617.315-.19 0-.377-.012-.56-.036l.022.002c-.192-.171-.321-.408-.351-.675v-.005c-.01-.051-.016-.11-.016-.171 0-.231.086-.442.227-.603l-.001.001zm-9.422-.422c-.168-.115-.297-.274-.372-.462l-.002-.007q-.187-.516-.446-.539t-.352.446c-.044.189-.069.406-.069.629 0 .125.008.249.023.37l-.001-.014v.234c-.204-.216-.329-.509-.329-.83 0-.013 0-.027.001-.04v.002c-.01-.074-.015-.159-.015-.245 0-.276.057-.538.161-.775l-.005.013q-.187-.094-.469.14l-.14.14q.094-.75.68-.843c.047-.007.101-.011.156-.011.361 0 .68.179.873.454l.002.003c.199.248.32.566.32.913 0 .151-.023.296-.065.433l.003-.01zm14.015 1.359c-.255.488-.569.905-.939 1.265l-.001.001c-.417.39-.974.636-1.587.656h-.004c-.016-.134-.026-.288-.026-.445s.009-.312.027-.464l-.002.018c.396-.074.742-.171 1.075-.296l-.044.014c.325-.128.603-.27.865-.434l-.021.012zm-6.654.563c.851.327 1.835.517 2.864.517.312 0 .62-.017.923-.051l-.037.003c.031.201.049.433.049.67 0 .044-.001.088-.002.132v-.006.14c-.107.006-.233.009-.359.009-.707 0-1.388-.106-2.03-.304l.049.013c-.654-.111-1.188-.536-1.45-1.111l-.005-.012zm4.312 2.203c-.051.233-.208.421-.417.514l-.005.002c-.418.138-.9.222-1.4.234h-.006c-.094.01-.204.016-.314.016-.445 0-.869-.092-1.253-.258l.021.008c-.35-.261-.646-.572-.882-.927l-.009-.014-.189-.279-.137-.14c-.112-.093-.199-.211-.255-.346l-.002-.006q-.023-.117.399-.117c.299.652.905 1.117 1.627 1.215l.011.001c.523.073 1.128.115 1.742.115.261 0 .521-.008.778-.022l-.036.002z"
        ></path>
      </symbol>

      <symbol id="k8s" viewBox="-3 -2 20 20">
        <path
          fill-rule="evenodd"
          d="M5.374 15c-.335 0-.66-.153-.874-.431l-3.254-4.172a1.15 1.15 0 01-.214-.978l1.165-5.207c.074-.345.298-.623.605-.776l4.715-2.32c.15-.078.317-.116.485-.116.168 0 .335.038.485.115L13.2 3.426c.308.153.532.432.606.777l1.165 5.207c.074.345 0 .7-.214.978L11.5 14.566c-.214.268-.54.434-.875.434h-5.25zm7.718-5.835l.031.008a.308.308 0 01.26.371.306.306 0 01-.396.223h-.004l-.003-.001-.003-.001-.03-.007-.05-.01a2.548 2.548 0 01-.274-.106 2.87 2.87 0 00-.533-.156.242.242 0 00-.171.063 4.76 4.76 0 00-.131-.023 3.972 3.972 0 01-1.764 2.212c.015.042.032.083.051.123a.239.239 0 00-.023.18c.074.17.165.332.271.484.06.078.114.16.164.244l.028.057.012.025a.306.306 0 01-.381.44.307.307 0 01-.172-.18 2.608 2.608 0 00-.01-.02l-.028-.058a2.545 2.545 0 01-.089-.28 2.835 2.835 0 00-.21-.512.242.242 0 00-.156-.095 5.926 5.926 0 01-.03-.053l-.035-.064a3.97 3.97 0 01-2.824-.007l-.069.125a.249.249 0 00-.132.064c-.104.17-.184.355-.237.548a2.525 2.525 0 01-.088.28l-.025.05-.013.027v.001a.307.307 0 11-.553-.261l.014-.03.026-.052c.05-.085.104-.166.164-.244.108-.156.2-.322.277-.496a.302.302 0 00-.028-.173l.056-.133A3.972 3.972 0 014.22 9.532l-.134.023a.34.34 0 00-.176-.062 2.872 2.872 0 00-.533.156c-.09.04-.181.075-.274.105l-.05.011-.03.007H3.02l-.002.002h-.005a.308.308 0 01-.397-.349.306.306 0 01.261-.245l.004-.001h.003l.006-.002c.024-.006.054-.014.076-.018.097-.013.195-.021.293-.023.186-.013.37-.043.549-.09a.422.422 0 00.131-.133l.128-.037a3.938 3.938 0 01.624-2.752l-.097-.087a.338.338 0 00-.062-.176 2.854 2.854 0 00-.455-.319 2.557 2.557 0 01-.254-.148 1.129 1.129 0 01-.063-.05l-.004-.004a.323.323 0 01-.076-.45.295.295 0 01.244-.107.365.365 0 01.213.08l.022.017c.016.013.034.026.046.037.071.067.139.139.202.213.125.137.263.262.412.372.056.03.121.036.182.018l.11.078a3.938 3.938 0 012.552-1.224l.007-.129a.332.332 0 00.1-.157 2.844 2.844 0 00-.034-.554 2.555 2.555 0 01-.042-.29v-.053-.025-.004-.004A.306.306 0 018 2.82a.308.308 0 01.306.337v.087a2.53 2.53 0 01-.041.29 2.85 2.85 0 00-.035.553.242.242 0 00.1.153v.007l.007.13c.967.087 1.87.522 2.54 1.223l.116-.083a.34.34 0 00.186-.02c.149-.11.287-.235.412-.373a2.53 2.53 0 01.202-.213l.051-.04.017-.014a.308.308 0 01.472.388.307.307 0 01-.09.09c-.008.005-.017.012-.025.02l-.043.033a2.549 2.549 0 01-.254.148 2.865 2.865 0 00-.455.32.24.24 0 00-.058.172 4.458 4.458 0 01-.05.044l-.058.053c.542.806.769 1.783.637 2.745l.123.036c.031.056.077.101.132.132.18.048.364.078.55.09.097.003.195.01.292.024l.058.013zm-2.875-3.1l-1.308.925-.004-.002a.27.27 0 01-.43-.205v-.001l-.091-1.598a3.183 3.183 0 011.833.882zM7.754 7.818h.492l.306.381-.11.476L8 8.886l-.443-.213-.11-.475.307-.381zM7.29 5.24c.107-.024.216-.043.326-.056l-.09 1.6-.008.004a.268.268 0 01-.293.256.27.27 0 01-.135-.05l-.002.001-1.316-.93c.419-.41.945-.696 1.518-.825zM5.296 6.663l1.201 1.071-.001.007a.269.269 0 01-.106.462l-.001.005-1.54.443a3.134 3.134 0 01.447-1.988zm1.608 2.846l-.612 1.474a3.16 3.16 0 01-1.27-1.586L6.6 9.13l.003.003a.265.265 0 01.18.029.27.27 0 01.117.341l.004.006zm1.806 1.896c-.572.13-1.17.1-1.726-.088l.777-1.4h.001a.27.27 0 01.475-.001h.006l.779 1.402a3.286 3.286 0 01-.312.087zm1.004-.416L9.096 9.5l.001-.003a.269.269 0 01.296-.37l.003-.004 1.593.269a3.147 3.147 0 01-1.275 1.597zm1.442-2.343L9.61 8.201l-.002-.006a.27.27 0 01-.185-.343.27.27 0 01.08-.12L9.5 7.73l1.195-1.067c.366.594.527 1.29.46 1.983z"
        ></path>
      </symbol>

      <symbol id="github" viewBox="-1 -1 26 26">
        <path
          d="M12,2A10,10,0,0,0,8.84,21.5c.5.08.66-.23.66-.5V19.31C6.73,19.91,6.14,18,6.14,18A2.69,2.69,0,0,0,5,16.5c-.91-.62.07-.6.07-.6a2.1,2.1,0,0,1,1.53,1,2.15,2.15,0,0,0,2.91.83,2.16,2.16,0,0,1,.63-1.34C8,16.17,5.62,15.31,5.62,11.5a3.87,3.87,0,0,1,1-2.71,3.58,3.58,0,0,1,.1-2.64s.84-.27,2.75,1a9.63,9.63,0,0,1,5,0c1.91-1.29,2.75-1,2.75-1a3.58,3.58,0,0,1,.1,2.64,3.87,3.87,0,0,1,1,2.71c0,3.82-2.34,4.66-4.57,4.91a2.39,2.39,0,0,1,.69,1.85V21c0,.27.16.59.67.5A10,10,0,0,0,12,2Z"
        ></path>
      </symbol>

      <symbol id="terraform" viewBox="-5 -4 38 38">
        <path
          d="m11.041 5.688 9.912 5.031v10.073l-9.912-5.037zm11 5.031v10.073l9.917-5.037V5.688zM.047.068v10.068l9.912 5.036V5.104zm10.994 26.853 9.912 5.037V21.895l-9.912-5.036z"
        ></path>
      </symbol>

      <symbol id="grafana" viewBox="-2 -1 18 18">
        <path
          d="M13.985 7.175a4.408 4.408 0 00-.138-.802 5.035 5.035 0 00-1.054-1.998 2.96 2.96 0 00-.366-.393c.198-.787-.245-1.468-.245-1.468-.764-.046-1.237.227-1.42.363-.031-.015-.062-.03-.092-.03-.122-.046-.26-.106-.397-.137-.138-.045-.275-.075-.413-.12-.137-.031-.29-.061-.443-.092-.03 0-.046 0-.076-.015C9.005 1.44 8.058 1 8.058 1 7.004 1.666 6.79 2.604 6.79 2.604s0 .015-.016.06l-.183.046c-.076.03-.168.06-.244.076-.077.03-.168.06-.245.09-.153.076-.32.152-.473.228-.153.09-.306.181-.443.272-.016-.015-.03-.015-.03-.015-1.467-.545-2.766.136-2.766.136-.122 1.544.58 2.528.733 2.71-.03.09-.06.196-.091.287a8.104 8.104 0 00-.245 1.09c0 .06-.015.106-.015.166C1.397 8.386 1 9.748 1 9.748c1.13 1.287 2.46 1.377 2.46 1.377.167.303.366.575.58.848.092.106.183.212.29.318a3.014 3.014 0 00.061 2.149c1.268.045 2.093-.545 2.261-.681.122.045.26.076.382.106.382.106.78.151 1.176.181h.49c.595.848 1.634.954 1.634.954.748-.772.779-1.544.779-1.71v-.015-.03-.03c.153-.107.305-.228.443-.35a5.37 5.37 0 00.779-.892c.015-.03.046-.06.061-.09.84.045 1.436-.515 1.436-.515-.138-.863-.642-1.287-.749-1.378l-.015-.015h-.015s-.015 0-.015-.015c0-.045.015-.106.015-.151 0-.091.015-.182.015-.288V9.4v-.166-.076-.152l-.015-.075c-.015-.091-.03-.197-.061-.288a3.506 3.506 0 00-.428-1.044 3.856 3.856 0 00-.718-.848 3.784 3.784 0 00-.901-.575 3.347 3.347 0 00-.993-.272c-.168-.015-.336-.03-.504-.03H9.37 9.204c-.092.015-.169.015-.26.03-.336.06-.642.181-.932.348-.275.166-.52.363-.718.605a2.579 2.579 0 00-.459.757 2.63 2.63 0 00-.183.817v.393c.015.137.046.273.077.394.076.258.183.485.336.666.137.197.32.348.504.485.183.12.382.212.58.272.199.06.382.076.565.076h.244c.031 0 .047 0 .062-.015.015 0 .046-.015.061-.015.046-.016.076-.016.122-.03l.23-.092a.869.869 0 00.198-.12c.015-.016.03-.03.046-.03a.129.129 0 00.015-.198c-.046-.06-.122-.075-.183-.03-.015.015-.03.015-.046.03-.046.03-.107.046-.168.06l-.183.046c-.03 0-.061.015-.092.015H8.73a1.519 1.519 0 01-.825-.378 1.452 1.452 0 01-.306-.378 1.655 1.655 0 01-.168-.485c-.015-.09-.015-.166-.015-.257v-.106-.03c0-.046.015-.091.015-.136.061-.364.26-.727.55-1 .077-.075.153-.136.23-.181.076-.06.167-.106.259-.151.092-.046.183-.076.29-.106a.993.993 0 01.306-.046h.321c.107.015.229.03.336.046.214.045.427.12.626.242.397.212.733.56.947.969.107.211.183.423.214.65.015.06.015.121.015.167v.363c0 .06-.015.121-.015.182 0 .06-.015.12-.03.181l-.046.182c-.03.121-.077.242-.123.363a3.183 3.183 0 01-.366.666 3.002 3.002 0 01-1.91 1.18c-.122.016-.26.03-.382.046h-.198c-.061 0-.138 0-.199-.015a3.637 3.637 0 01-.81-.151 4.068 4.068 0 01-.748-.303 4.098 4.098 0 01-1.696-1.695 4.398 4.398 0 01-.29-.742c-.076-.257-.107-.514-.137-.772v-.302-.091c0-.136.015-.258.03-.394s.046-.272.061-.393c.03-.137.061-.258.092-.394a5.33 5.33 0 01.275-.741c.214-.47.504-.893.855-1.226.092-.091.184-.167.275-.243.092-.075.184-.136.29-.211a5.39 5.39 0 01.306-.182c.046-.03.107-.045.153-.076a.26.26 0 01.076-.03.26.26 0 01.077-.03c.107-.046.229-.091.336-.121.03-.015.06-.015.091-.03.03-.016.061-.016.092-.03.061-.016.122-.031.168-.046.03-.015.061-.015.092-.015.03 0 .06-.016.091-.016.03 0 .061-.015.092-.015l.046-.015h.046c.03 0 .06-.015.091-.015.03 0 .061-.015.107-.015.03 0 .077-.015.107-.015h.764c.23.015.443.03.657.075.428.076.84.212 1.207.394.366.182.702.393.977.636l.046.045.046.045c.03.03.061.061.107.091l.092.091.091.09c.123.122.23.258.336.394.199.258.367.515.49.772.014.015.014.03.03.046.015.015.015.03.015.045l.046.09.046.092.045.09c.046.122.092.228.123.333.06.167.107.318.137.455.015.045.061.09.122.075a.104.104 0 00.107-.106c.092-.227.092-.393.077-.575z"
        ></path>
      </symbol>

      <svg id="sonar" viewBox="-150 -150 1200 1200">
        <path
          d="m832.6 911.3h-52.6c0-424.1-349.9-769.1-779.9-769.1v-52.6c459 0 832.5 368.5 832.5 821.7zm36.4-282.9c-63.2-266-278.7-488-549-565.7l12.1-42.2c285.3 82 512.8 316.5 579.5 597.8zm59.3-249.7c-65.1-142-176.2-265.9-312.5-348.8l18.3-30c142.3 86.6 258 215.8 326.1 364.2z"
        ></path>
      </svg>

      <svg viewBox="-25 -50 300 300">
        <path
          d="M170.2517,56.8186 L192.5047,34.5656 L193.9877,25.1956 C153.4367,-11.6774 88.9757,-7.4964 52.4207,33.9196 C42.2667,45.4226 34.7337,59.7636 30.7167,74.5726 L38.6867,73.4496 L83.1917,66.1106 L86.6277,62.5966 C106.4247,40.8546 139.8977,37.9296 162.7557,56.4286 L170.2517,56.8186 Z"
        ></path>
        <path
          d="M224.2048,73.9182 C219.0898,55.0822 208.5888,38.1492 193.9878,25.1962 L162.7558,56.4282 C175.9438,67.2042 183.4568,83.4382 183.1348,100.4652 L183.1348,106.0092 C198.4858,106.0092 210.9318,118.4542 210.9318,133.8052 C210.9318,149.1572 198.4858,161.2902 183.1348,161.2902 L127.4638,161.2902 L121.9978,167.2242 L121.9978,200.5642 L127.4638,205.7952 L183.1348,205.7952 C223.0648,206.1062 255.6868,174.3012 255.9978,134.3712 C256.1858,110.1682 244.2528,87.4782 224.2048,73.9182"
        ></path>
        <path
          d="M71.8704,205.7957 L127.4634,205.7957 L127.4634,161.2897 L71.8704,161.2897 C67.9094,161.2887 64.0734,160.4377 60.4714,158.7917 L52.5844,161.2117 L30.1754,183.4647 L28.2234,191.0387 C40.7904,200.5277 56.1234,205.8637 71.8704,205.7957"
        ></path>
        <path
          d="M71.8704,61.4255 C31.9394,61.6635 -0.2366,94.2275 0.0014,134.1575 C0.1344,156.4555 10.5484,177.4455 28.2234,191.0385 L60.4714,158.7915 C46.4804,152.4705 40.2634,136.0055 46.5844,122.0155 C52.9044,108.0255 69.3704,101.8085 83.3594,108.1285 C89.5244,110.9135 94.4614,115.8515 97.2464,122.0155 L129.4944,89.7685 C115.7734,71.8315 94.4534,61.3445 71.8704,61.4255"
        ></path>
      </svg>

      <svg id="google" viewBox="0 0 16 16">
        <g stroke-width="0"></g>
        <g stroke-linecap="round" stroke-linejoin="round"></g>
        <path
          fill-rule="evenodd"
          d="m11.87 3.465-.002-.003a5.935 5.935 0 0 0-5.586-1.217 5.89 5.89 0 0 0-3.98 4.092 4.206 4.206 0 0 0-.149 6.792 4.255 4.255 0 0 0 2.558.87h6.52a4.234 4.234 0 0 0 4.078-2.961A4.2 4.2 0 0 0 13.637 6.3a5.835 5.835 0 0 0-1.767-2.835zm-7.828 7.78c.21.095.438.16.67.16l6.518.002c.9 0 1.63-.725 1.63-1.619s-.73-1.619-1.63-1.619v-.323a3.226 3.226 0 0 0-1.187-2.56h-.002c-1.339-1.078-3.305-.912-4.465.354l-.014.015c.996.2 1.897.751 2.525 1.568L6.198 9.101a1.63 1.63 0 0 0-3.097.439 1.617 1.617 0 0 0 .942 1.704l-.001.001z"
          clip-rule="evenodd"></path>
      </svg>

      <svg id="kibana" viewBox="-10 -10 48 48">
        <path
          d="M28.052 31.984h-22.479l13.172-15.812c5.64 3.683 9.307 9.391 9.307 15.812zM28.052 0.052h-23.948v28.735z"
        ></path>
      </svg>

      <svg id="jira" viewBox="-10 -10 48 48">
        <path
          d="M29.762 1.004h-14.443c0 0 0 0 0 0 0 3.599 2.918 6.517 6.517 6.517 0 0 0 0 0 0h2.66v2.571c0.003 3.591 2.91 6.502 6.498 6.512h0.001v-14.343c0-0.002 0-0.003 0-0.005 0-0.685-0.55-1.241-1.232-1.251h-0.001zM22.616 8.198h-14.443c0.001 3.599 2.918 6.516 6.517 6.516h2.66v2.572c0.003 3.598 2.919 6.513 6.517 6.516h0v-14.352c0-0.691-0.56-1.251-1.251-1.251v0zM15.464 15.391h-14.46c0.002 3.6 2.921 6.517 6.521 6.517 0.006 0 0.012 0 0.018-0h2.661v2.57c0 0 0 0 0 0 0 3.598 2.916 6.515 6.514 6.517h0v-14.348c0-0.694-0.562-1.256-1.256-1.256v0z"
        ></path>
      </svg>

      <svg
        id="pulumi"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 -25 330 350"
      >
        <path
          d="M43.705 150.707c10.013-5.781 10.03-24.497.038-41.804-9.993-17.306-26.21-26.65-36.223-20.868-10.012 5.78-10.029 24.497-.037 41.803 9.992 17.307 26.21 26.65 36.222 20.869Zm.06 37.058c9.993 17.306 9.976 36.022-.037 41.803-10.013 5.781-26.23-3.562-36.222-20.869-9.992-17.306-9.976-36.022.037-41.803 10.013-5.781 26.23 3.562 36.222 20.869ZM112 227.214c9.992 17.306 9.976 36.021-.037 41.804-10.013 5.78-26.23-3.563-36.222-20.87-9.992-17.306-9.976-36.022.037-41.803 10.013-5.781 26.23 3.562 36.222 20.869Zm-.022-78.86c9.992 17.306 9.975 36.022-.037 41.803-10.013 5.781-26.23-3.562-36.222-20.869-9.993-17.306-9.976-36.022.037-41.803 10.012-5.781 26.23 3.562 36.222 20.868Z"
        ></path><path
          d="M248.477 129.882c9.992-17.307 9.976-36.023-.037-41.804-10.012-5.78-26.23 3.562-36.222 20.869-9.992 17.306-9.975 36.022.037 41.804 10.013 5.78 26.23-3.563 36.222-20.87Zm.002 37.039c10.013 5.78 10.03 24.497.038 41.803-9.992 17.307-26.21 26.65-36.222 20.869-10.013-5.781-10.03-24.497-.038-41.804 9.993-17.306 26.21-26.65 36.222-20.868Zm-68.22 39.384c10.013 5.781 10.03 24.497.038 41.804-9.992 17.305-26.21 26.649-36.223 20.868-10.012-5.78-10.029-24.497-.037-41.803 9.993-17.307 26.21-26.65 36.222-20.869Zm-.038-78.843c10.013 5.781 10.03 24.497.037 41.804-9.992 17.306-26.21 26.65-36.222 20.869-10.013-5.781-10.03-24.498-.037-41.804 9.992-17.307 26.209-26.65 36.222-20.869Z"
        ></path><path
          d="M164.153 20.935c0 11.562-16.2 20.935-36.185 20.935-19.984 0-36.185-9.373-36.185-20.935S107.983 0 127.968 0c19.985 0 36.185 9.373 36.185 20.935Zm-68.22 39.344c0 11.562-16.2 20.935-36.184 20.935-19.985 0-36.185-9.373-36.185-20.935s16.2-20.935 36.185-20.935c19.984 0 36.185 9.373 36.185 20.935Zm100.344 20.935c19.985 0 36.185-9.373 36.185-20.935s-16.2-20.935-36.185-20.935c-19.984 0-36.185 9.373-36.185 20.935s16.2 20.935 36.185 20.935ZM164.153 99.71c0 11.562-16.2 20.935-36.185 20.935-19.984 0-36.185-9.373-36.185-20.935s16.2-20.935 36.185-20.935c19.985 0 36.185 9.373 36.185 20.935Z"
        ></path>
      </svg>
    </defs>
  </svg>
</section>

<style>
  section {
    padding: 0em;
    min-height: 1.25rem;
  }

  .defs {
    display: none;
  }

  .section {
    --color-text: #c1c1c1;
    --size: clamp(10rem, 0.5rem + 14vmin, 14rem);
    --gap: calc(var(--size) / 50);
    --duration: 120s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
  }
  @media (prefers-color-scheme: dark) {
    .section {
      --color-text: #4b5563;
      --color-text-hover: white;
    }
  }
  @media screen and (max-width: 768px) {
    :root {
      --gap: 0;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: auto;
    max-width: 100vw;
  }

  .marquee {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text);
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }

  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll-x var(--duration) linear infinite;
  }

  .marquee svg {
    display: grid;
    place-items: center;
    width: var(--size);
    fill: var(--color-text);
    aspect-ratio: 16/9;
    padding: calc(var(--size) / 10);
    height: auto;
  }

  .marquee svg:hover {
    fill: var(--color-text-hover);
  }

  @media (prefers-reduced-motion: reduce) {
    .marquee__group {
      animation-play-state: paused;
    }
  }

  @keyframes scroll-x {
    from {
      transform: translateX(var(--scroll-start));
    }
    to {
      transform: translateX(var(--scroll-end));
    }
  }
</style>
