<div
  class="flex h-full items-end overflow-hidden opacity-60 transition-opacity duration-200 group-hover/card:opacity-100"
>
  <div class="flex gap-10 pl-3">
    <div
      class="relative mb-6 hidden h-24 min-w-[160px] max-w-[200px] origin-bottom-right -translate-x-2 -translate-y-1 rotate-6 rounded-b-xl border-x border-b border-gray-30 transition-transform duration-200 group-hover/card:translate-x-0 group-hover/card:translate-y-0 group-hover/card:rotate-0 dark:border-gray-800 md:block min-[1104px]:hidden"
    >
      <svg
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        class="absolute -bottom-3 left-1/2 h-6 w-6 -translate-x-1/2 transform bg-white text-gray-50 transition-all duration-200 group-hover/card:text-gray-100 dark:bg-night dark:text-gray-100 dark:group-hover/card:text-white"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M2.67751 9.31007C2.21429 7.50679 2.68862 5.51239 4.1005 4.1005C5.51238 2.68862 7.50679 2.21429 9.31007 2.67751C10.2576 1.07485 12.0033 0 14 0C15.9967 0 17.7424 1.07485 18.6899 2.67752C20.4932 2.2143 22.4876 2.68863 23.8995 4.10051C25.3114 5.51239 25.7857 7.50679 25.3225 9.31007C26.9251 10.2576 28 12.0033 28 14C28 15.9967 26.9252 17.7424 25.3225 18.6899C25.7857 20.4932 25.3114 22.4876 23.8995 23.8995C22.4876 25.3114 20.4932 25.7857 18.6899 25.3225C17.7424 26.9251 15.9967 28 14 28C12.0033 28 10.2576 26.9251 9.31007 25.3225C7.50679 25.7857 5.51239 25.3114 4.10051 23.8995C2.68863 22.4876 2.2143 20.4932 2.67752 18.6899C1.07485 17.7424 0 15.9967 0 14C0 12.0033 1.07485 10.2576 2.67751 9.31007ZM19.4355 11.0745C20.0213 10.4888 20.0213 9.53901 19.4355 8.95323C18.8498 8.36744 17.9 8.36744 17.3142 8.95323L14.1943 12.0732L11.0743 8.95323C10.4885 8.36744 9.5388 8.36744 8.95301 8.95323C8.36723 9.53902 8.36723 10.4888 8.95301 11.0745L12.073 14.1945L8.95311 17.3143C8.36733 17.9001 8.36733 18.8499 8.95311 19.4357C9.5389 20.0214 10.4886 20.0214 11.0744 19.4357L14.1943 16.3158L17.3141 19.4357C17.8999 20.0214 18.8497 20.0214 19.4354 19.4357C20.0212 18.8499 20.0212 17.9001 19.4354 17.3143L16.3156 14.1945L19.4355 11.0745Z"
          fill="currentColor"></path>
      </svg>
      <div class="flex flex-col gap-2 p-4">
        <div class="flex items-center gap-2">
          <div class="h-3.5 w-3.5 rounded-full bg-gray-30 dark:bg-gray-500">
          </div>
          <div class="flex-1">
            <div
              class="mb-1 h-1 max-w-[60px] rounded-sm bg-gray-40 dark:bg-gray-500"
            >
            </div>
            <div
              class="h-1 max-w-[40px] rounded-sm bg-gray-30 dark:bg-gray-700"
            >
            </div>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <div class="h-3.5 w-3.5 rounded-full bg-gray-30 dark:bg-gray-500">
          </div>
          <div class="flex-1">
            <div
              class="mb-1 h-1 max-w-[78px] rounded-sm bg-gray-40 dark:bg-gray-500"
            >
            </div>
            <div
              class="h-1 max-w-[55px] rounded-sm bg-gray-30 dark:bg-gray-700"
            >
            </div>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <div class="h-3.5 w-3.5 rounded-full bg-gray-30 dark:bg-gray-500">
          </div>
          <div class="flex-1">
            <div
              class="mb-1 h-1 max-w-[70px] rounded-sm bg-gray-40 dark:bg-gray-500"
            >
            </div>
            <div
              class="h-1 max-w-[50px] rounded-sm bg-gray-30 dark:bg-gray-700"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="relative mt-6 h-24 min-w-[160px] max-w-[200px] origin-top-left translate-x-2 translate-y-1 rotate-6 rounded-tl-xl border-l border-t border-gray-30 transition-transform duration-200 group-hover/card:translate-x-0 group-hover/card:translate-y-0 group-hover/card:rotate-0 dark:border-gray-800"
    >
      <svg
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        class="absolute -top-4 left-1/2 h-6 w-6 -translate-x-1/2 transform bg-white text-gray-50 transition-all duration-200 group-hover/card:text-gray-100 dark:bg-night dark:text-gray-100 dark:group-hover/card:text-white"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M2.67751 9.31007C2.21429 7.50679 2.68862 5.51239 4.1005 4.1005C5.51238 2.68862 7.50679 2.21429 9.31007 2.67751C10.2576 1.07485 12.0033 0 14 0C15.9967 0 17.7424 1.07485 18.6899 2.67752C20.4932 2.2143 22.4876 2.68863 23.8995 4.10051C25.3114 5.51239 25.7857 7.50679 25.3225 9.31007C26.9251 10.2576 28 12.0033 28 14C28 15.9967 26.9252 17.7424 25.3225 18.6899C25.7857 20.4932 25.3114 22.4876 23.8995 23.8995C22.4876 25.3114 20.4932 25.7857 18.6899 25.3225C17.7424 26.9251 15.9967 28 14 28C12.0033 28 10.2576 26.9251 9.31007 25.3225C7.50679 25.7857 5.51239 25.3114 4.10051 23.8995C2.68863 22.4876 2.2143 20.4932 2.67752 18.6899C1.07485 17.7424 0 15.9967 0 14C0 12.0033 1.07485 10.2576 2.67751 9.31007ZM19.4355 11.0745C20.0213 10.4888 20.0213 9.53901 19.4355 8.95323C18.8498 8.36744 17.9 8.36744 17.3142 8.95323L14.1943 12.0732L11.0743 8.95323C10.4885 8.36744 9.5388 8.36744 8.95301 8.95323C8.36723 9.53902 8.36723 10.4888 8.95301 11.0745L12.073 14.1945L8.95311 17.3143C8.36733 17.9001 8.36733 18.8499 8.95311 19.4357C9.5389 20.0214 10.4886 20.0214 11.0744 19.4357L14.1943 16.3158L17.3141 19.4357C17.8999 20.0214 18.8497 20.0214 19.4354 19.4357C20.0212 18.8499 20.0212 17.9001 19.4354 17.3143L16.3156 14.1945L19.4355 11.0745Z"
          fill="currentColor"></path>
      </svg>
      <div class="flex flex-col gap-2 p-4">
        <div class="flex items-center gap-2">
          <div class="h-3.5 w-3.5 rounded-full bg-gray-30 dark:bg-gray-500">
          </div>
          <div class="flex-1">
            <div
              class="mb-1 h-1 max-w-[60px] rounded-sm bg-gray-40 dark:bg-gray-500"
            >
            </div>
            <div
              class="h-1 max-w-[40px] rounded-sm bg-gray-30 dark:bg-gray-700"
            >
            </div>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <div class="h-3.5 w-3.5 rounded-full bg-gray-30 dark:bg-gray-500">
          </div>
          <div class="flex-1">
            <div
              class="mb-1 h-1 max-w-[78px] rounded-sm bg-gray-40 dark:bg-gray-500"
            >
            </div>
            <div
              class="h-1 max-w-[55px] rounded-sm bg-gray-30 dark:bg-gray-700"
            >
            </div>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <div class="h-3.5 w-3.5 rounded-full bg-gray-30 dark:bg-gray-500">
          </div>
          <div class="flex-1">
            <div
              class="mb-1 h-1 max-w-[70px] rounded-sm bg-gray-40 dark:bg-gray-500"
            >
            </div>
            <div
              class="h-1 max-w-[50px] rounded-sm bg-gray-30 dark:bg-gray-700"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
