<div
  class="origin-top-left translate-x-2 translate-y-1 rotate-6 overflow-hidden opacity-60 transition-all duration-200 group-hover/card:translate-x-0 group-hover/card:translate-y-0 group-hover/card:rotate-0 group-hover/card:opacity-100"
>
  <div
    class="mt-6 h-24 min-w-[160px] max-w-[200px] rounded-tl-xl border-l border-t border-gray-30 p-4 dark:border-gray-800"
  >
    <div class="mb-1 h-1.5 max-w-[80px] rounded-sm bg-gray-40 dark:bg-gray-500">
    </div>
    <div class="mb-2.5 h-1 max-w-[52px] rounded-sm bg-gray-30 dark:bg-gray-700">
    </div>
    <div class="flex gap-2">
      <div
        class="flex h-14 min-w-[32px] flex-1 items-center justify-center rounded border border-gray-30 text-gray-30 dark:border-gray-800 dark:text-gray-500"
      >
        <svg width="12" height="25" viewBox="0 0 12 25" fill="none">
          <path
            d="M0.714914 15.9573C0.334687 12.7887 2.80875 10 6.00004 10C9.19133 10 11.6654 12.7887 11.2852 15.9573L10.4114 23.2383C10.2908 24.2435 9.4381 25 8.42569 25H3.57439C2.56199 25 1.70926 24.2435 1.58864 23.2383L0.714914 15.9573Z"
            fill="currentColor"></path>
          <path
            d="M10 4C10 6.20914 8.20918 8 6.00004 8C3.7909 8 2.00004 6.20914 2.00004 4C2.00004 1.79086 3.7909 0 6.00004 0C8.20918 0 10 1.79086 10 4Z"
            fill="currentColor"></path>
        </svg>
      </div>
      <div
        class="flex h-14 min-w-[32px] flex-1 items-center justify-center rounded border border-gray-40 text-gray-50 transition-colors duration-200 group-hover/card:text-gray-100 dark:border-gray-100 dark:text-gray-100 dark:group-hover/card:border-white dark:group-hover/card:text-white"
      >
        <svg width="16" height="25" viewBox="0 0 16 25" fill="none">
          <path
            d="M1.78682 14.9498C2.29591 12.0861 4.78562 10 7.69419 10H8.30604C11.2146 10 13.7043 12.0861 14.2134 14.9498L15.5823 22.6499C15.8002 23.8753 14.8578 25 13.6132 25H2.38703C1.1424 25 0.200052 23.8753 0.417904 22.6499L1.78682 14.9498Z"
            fill="currentColor"></path>
          <path
            d="M12.0001 4C12.0001 6.20914 10.2093 8 8.00011 8C5.79098 8 4.00011 6.20914 4.00011 4C4.00011 1.79086 5.79098 0 8.00011 0C10.2093 0 12.0001 1.79086 12.0001 4Z"
            fill="currentColor"></path>
        </svg>
      </div>
      <div
        class="flex h-14 min-w-[32px] flex-1 items-center justify-center rounded border border-gray-30 text-gray-30 dark:border-gray-800 dark:text-gray-500"
      >
        <svg width="12" height="25" viewBox="0 0 12 25" fill="none">
          <path
            d="M0.714914 15.9573C0.334687 12.7887 2.80875 10 6.00004 10C9.19133 10 11.6654 12.7887 11.2852 15.9573L10.4114 23.2383C10.2908 24.2435 9.4381 25 8.42569 25H3.57439C2.56199 25 1.70926 24.2435 1.58864 23.2383L0.714914 15.9573Z"
            fill="currentColor"></path>
          <path
            d="M10 4C10 6.20914 8.20918 8 6.00004 8C3.7909 8 2.00004 6.20914 2.00004 4C2.00004 1.79086 3.7909 0 6.00004 0C8.20918 0 10 1.79086 10 4Z"
            fill="currentColor"></path>
        </svg>
      </div>
    </div>
  </div>
</div>
